@(employeeForm: Form[Employee])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main(title = Messages("title.addEmployee")) {
    
    <h1>Add an Employee</h1> 
       
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(employeeForm("name"), '_label -> "Name")
            @inputText(employeeForm("address"), '_label -> "Address")
            @inputText(employeeForm("city"), '_label -> "City")
            @inputText(employeeForm("county"), '_label -> "County")
            @inputText(employeeForm("country"), '_label -> "Country")
            @inputText(employeeForm("postcode"), '_label -> "Postcode")
            @inputText(employeeForm("phone"), '_label -> "Phone")
            @inputText(employeeForm("email"), '_label -> "Email")
            @inputText(employeeForm("status"), '_label -> "Status")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Add this employee" class="btn primary"> or 
           <a href=@routes.Application.list() class="btn">Cancel</a>
        </div>
        
    }
    
}
